[submodule ".zsh/zsh-syntax-highlighting-filetypes"]
	path = .zsh/zsh-syntax-highlighting-filetypes
	url = https://github.com/trapd00r/zsh-syntax-highlighting-filetypes.git
[submodule ".dir_colors/LS_COLORS"]
	path = .dir_colors/LS_COLORS
	url = https://github.com/trapd00r/LS_COLORS.git
